@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body
{
  font-family: 'Roboto';
}

/* HEADER */
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  height: 40px;

  margin: 14px 130px;
  
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-end;
  width: 70px;
  height: 30px;
}

.nav-join{
  width: 101px;
  height: 20px;

  font-weight: 400;
  color: #222222;
}

.nav-join:hover {
  text-decoration: underline;
}

/* HEADER */

/* MAIN */

.content-for-start 
{
  min-height: 262px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin:170px 308px;
  margin-bottom: 93px;
}
.start 
{
  font-size: 64px;
  text-align: center;
  margin-bottom: 34px;
}
.text {
  width: 613px;
  height: 56px;
  font-size: 20px;
  text-align: center;

  margin-bottom: 36px;
}

/*input email*/

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid 2px #7352FF;

  min-width: 476px;
  height:56px;

  border-radius: 21px;
  border-right: white;

  margin-bottom: 152px;
}
.email-input {
  min-width: 325px;

  margin-left: 31px;
}
.get-start {

  font-size: 12px;
  color: white;
  margin-right: 0px;

  font-size: 12px;

  width: 149px;
  height:56px;

  background: #7352FF;
  border-radius: 21px;
  border-color: #7352FF;
}

.get-start:active {
  width: 151px;
}

.get-start:hover{
  color: yellow;
}

/*input email*/

/* carousel */

.carusel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 264px;
  z-index: 1;
}

.carusel-image{

}

/* carousel */


.fake-page{
  border: 6px solid #7352FF;
  border-radius: 11.9923px;

  width: 1027px;
  height: 695px;

  z-index: 100;

  position: absolute;

  top: 1010px;
  left: 206px;
}

.fake-page_navigation {
  background-color: #7352FF;

  width: 100%;
  height: 50px;

  padding: 15px 330px;

  display: flex;
  flex-direction: row;
}

.fake-page_image {
  width: 100%;
  height: 90%;
}

.navigation_home{

  width: 55px;
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items:center;
}

.images {
}


.home {
  height: 22px;
  display: flex;
  flex-direction: column;
  column-gap: 0.9px;
}

.home-string{
  color: rgb(255, 254, 254);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-left: 7px;
}

.navigation_pay {
  width: 55px;
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items:center;

  margin-left: 36px;
}
.pay {
}
.pay-string {
  color: rgb(255, 254, 254);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-left: 7px;
}

.navigation_splits {
  width: 58px;
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items:center;

  margin-left: 36px;
}
.splits {
}
.splits-string {
  color: rgb(255, 254, 254);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-left: 7px;
}

.navigation_collectives {
  width: 90px;
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items:center;

  margin-left: 36px;
}
.collectives {
}
.collectives-string {
  color: rgb(255, 254, 254);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-left: 7px;
}
/* MAIN */